<!--财务改价窗口-->
<div id="upprice" form="upprice-form" dg="dg" class="easyui-dialog dialog-form-style" title="改价"
     style="width:300px;height:'auto';text-align:center;padding:2px 2px 2px 2px"
     data-options="closed:true,modal:false,resizable:true">
    <form id="upprice-form">
        <div style="float: left">
            <ul class="my-ul" style="">
                <li>
                    <label>总价</label>
                    <input name="price" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'"/>
                </li>
                <li>
                    <label>已结</label>
                    <input name="deposit" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'"/>
                </li>
                <li>
                    <label>行政</label>
                    <input name="xzprice" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'"/>
                </li>


                <li>
                    <label>结余</label>
                    <input name="surplus" readonly="readonly" class="easyui-numberbox"
                           data-options="min:0,precision:2,prefix:'￥'"/>
                </li>

            </ul>
        </div>
    </form>
</div>
