<div id="upprice" form="upprice-form" dg="dg" class="easyui-dialog dialog-form-style" title="改价" style="width:300px;height:'auto';text-align:center;padding:2px 2px 2px 2px"
     data-options="closed:true,modal:false,resizable:true">
    <form id="upprice-form">
        <div style="float: left">
            <ul class="my-ul" style="">
                <li>
                    <label>价格</label>
                    <input name="price" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'" />
                </li>
                <li>
                    <label>定金</label>
                    <input name="deposit" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'" />
                </li>
                <li>
                    <label>行政费</label>
                    <input name="xzprice" class="easyui-numberbox" data-options="min:0,precision:2,prefix:'￥'" />
                </li>
            </ul>
        </div>
    </form>
</div>
