
<table id="log-dg" class="easyui-datagrid" style="width:100%;"
       data-options="url:'getAllLog',
                    fitColumns:false,
                    singleSelect:true,
                    striped:true,
                    fit:true,
                    pageSize:15,
                    pageList:[15,30,45,60,75],
                    pagination:true,
                    toolbar:'#log-dg-buttions'">
    <thead>
    <tr>
        <th data-options="field:'id'" style="width: 5%" >编码</th>
        <th data-options="field:'type'" style="width: 10%">类型</th>
        <th data-options="field:'name'" style="width: 10%">操作人</th>
        <th data-options="field:'title'" style="width: 10%">用户组</th>
        <th data-options="field:'action'" style="width: 10%">控制器</th>
        <th data-options="field:'rule_url'" style="width: 18%">URL</th>
        <th data-options="field:'action_ip'" style="width: 18%">IP地址</th>
        <th data-options="field:'create_time'" style="width: 18%">时间</th>
    </tr>
    </thead>
</table>

<div id="log-dg-buttions" style="padding:5px;height:auto">
    <div>
        执行日: <input class="easyui-datebox" style="width:80px">
        发布日: <input class="easyui-datebox" style="width:80px">
        类型:
        <select class="easyui-combobox" panelHeight="auto" style="width:100px">
            <option value="java">Java</option>
            <option value="c">C</option>
            <option value="basic">Basic</option>
            <option value="perl">Perl</option>
            <option value="python">Python</option>
        </select>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search">Search</a>
    </div>
</div>


<script type="text/javascript">

</script>