<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/easyui.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/easyui_animation.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/easyui_plus.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/insdep_theme_default.css">
	<!--<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/iconfont/iconfont.css">-->
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/insdep/icon.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/viewer.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/app.css">
	<script type="text/javascript" src="__STATIC__/framework/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/framework/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__STATIC__/themes/insdep/jquery.insdep-extend.min.js"></script>
	<script type="text/javascript" src="__STATIC__/framework/viewer-jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/config.js"></script>
	<script type="text/javascript" src="__STATIC__/js/Dg.js"></script>
	<script type="text/javascript" src="__STATIC__/js/extend.js"></script>
	<script type="text/javascript" src="__STATIC__/js/load.js"></script>
	<script type="text/javascript" src="__STATIC__/js/function.js"></script>


	<link rel="stylesheet" type="text/css" href="/upload/css/webuploader.css" />
	<link rel="stylesheet" type="text/css" href="/upload/css/style.css" />
</head>