
#add {
	padding-left: 20px;
    padding-top: 20px;
}
#add td input {
	 margin-right: 10px;
}
.imagebox div{
	float:left;
	margin:0 10px 10px 0;
}
.imagebox img{
    width:120px;
	height:120px;
}
.table {
	color: #000000;
	//background-color: #999;
	height: auto;
	width: 50%;
}

/* dialog窗口 */
.dialog-form-style span{
	margin-bottom: 7px;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}

.button {
	margin: 0px 0px 0px 0px;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
/* 图片容器 */
#dowebok { width:auto; margin: 0 auto; font-size: 16;}
#dowebok li { display: inline-block; width: 150px; margin-left: 1%; padding-top: 1%;}
#dowebok li img { width: 150px; height: 150px}