{include file="Mobile/public/header" /}
<div class="easyui-navpanel">
    <ul class="m-list">
        <li><a href="javascript:void(0)" onclick="openit('re_110')">今日待办</a></li>
        <li><a href="javascript:void(0)" onclick="openit('re_111')">明日待办</a></li>
        <li><a href="javascript:void(0)" onclick="openit('re_120')">昨日遗留</a></li>
        <li><a href="javascript:void(0)" onclick="openit('re_300')">逾期未办</a></li>
        <li><a href="javascript:void(0)" onclick="openit('re_100')">我的待办</a></li>
    </ul>
</div>
<script type="text/javascript">
    function openit(target) {
        var text = target//$(target).text();
        $('#h-title').html(text);
        $.mobile.go('#page-dg');
        List(text);
    }
    function List(where) {
        var param = {};
        switch (where) {
            case "re_111":
                param = {
                    "rule":"re_id = :uid AND task.status = :value",
                    "uid":"0",
                    "value":"1",
                    "type":"tomorrow"
                }
                break;
            case "re_110":
                param = {
                    "rule":"re_id = :uid AND task.status = :value",
                    "uid":"0",
                    "value":"1",
                    "type":"day",
                    "time":"today"
                };
                break;
            case "re_120":
                param = {
                    "rule":"re_id = :uid AND task.status = :value",
                    "uid":"0",
                    "value":"1",
                    "type":"day",
                    "time":"yesterday"
                };
                break;
            //待办
            case "re_100":
                param = {
                    "rule": "re_id = :uid AND task.status = :value",
                    "uid": "0",
                    "value": "1"
                };
                break;
            //逾期
            case "re_300":
                param = {
                    "rule": "re_id = :uid AND task.status = :value",
                    "uid": "0",
                    "value": "1",
                    "type": "overdue"
                };
                break;
            //处理成功
            case "re_200":
                param = {
                    "rule": "re_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "2"
                }
                break;
            //处理睡吧
            case "re_400":
                param = {
                    "rule": "re_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "0"
                }
                break;
            //我发布的
            case "我发布的":
                param = {
                    "rule": "se_id = :uid",
                    "uid": "0"
                };
                break;
            //发布的过期未处理
            case "se_300":
                param = {
                    "rule": "se_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "1",
                    "type": "overdue"
                };
                break;
            //发布的处理成功
            case "se_200":
                param = {
                    "rule": "se_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "2"
                };
                break;
            //发布的处理失败
            case "se_400":
                param = {
                    "rule": "se_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "0"
                };
                break;
            //发布的进行中
            case "se_100":
                param = {
                    "rule": "se_id = :uid  AND task.status = :value",
                    "uid": "0",
                    "value": "1"
                };
                break;
        }
        //$(".deldg").remove();
        dginit(param);
    }
</script>
{include file="Mobile/public/footer" /}