<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="/static/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/add_user_data.css">
	<script type="text/javascript" src="/static/framework/jquery.min.js"></script>
	<script type="text/javascript" src="/static/framework/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/static/js/tabs.js"></script>
	<script type="text/javascript" src="/static/js/user_data_list.js"></script>
	<script type="text/javascript" src="/static/js/add_user_data.js"></script>
	<script type="text/javascript" src="/static/js/details.js"></script>
	<script type="text/javascript" src="/static/js/viewer-jquery.min.js"></script>
	<link rel="stylesheet" href="/static/css/viewer.min.css">
	<script type="text/javascript" src="/static/js/load.js"></script>
	<script type="text/javascript" src="/static/js/function.js"></script>
</head>