<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/viewer.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/app.css">
	<script type="text/javascript" src="__STATIC__/framework/jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/framework/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="__STATIC__/framework/viewer-jquery.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/config.js"></script>
	<script type="text/javascript" src="__STATIC__/js/Dg.js"></script>
	<script type="text/javascript" src="__STATIC__/js/dialogs.js"></script>
	<script type="text/javascript" src="__STATIC__/js/load.js"></script>
	<script type="text/javascript" src="__STATIC__/js/function.js"></script>
</head>