<footer>
    <div class="m-buttongroup m-buttongroup-justified" style="width:100%">
        <a href="#page-main" class="easyui-linkbutton"
           data-options="animation:'fade',direction:'',iconCls:'icon-large-picture',size:'large',iconAlign:'top',plain:true">待办</a>
        <a href="#page-dg" class="easyui-linkbutton"
           data-options="animation:'fade',direction:'',iconCls:'icon-large-clipart',size:'large',iconAlign:'top',plain:true">新建</a>
        <a href="#page-p1" class="easyui-linkbutton"
           data-options="animation:'fade',direction:'',iconCls:'icon-large-picture',size:'large',iconAlign:'top',plain:true">已处理</a>
        <a href="#page-p3" class="easyui-linkbutton"
           data-options="animation:'fade',direction:'',iconCls:'icon-large-picture',size:'large',iconAlign:'top',plain:true">我发布的</a>
    </div>
</footer>