
<table id="set-menu-treegrid"></table>

<div id="set-menu-dialog" class="easyui-dialog" dg="set-menu-treegrid" form="set-menu-dialog-form"
     style="width:480px;height:auto;" data-options="closed:true,border:'thin',modal:false,">



    <form id="set-menu-dialog-form" action="auto">
        <div style="float: left">
            <ul class="my-ul" style="">
                <li>
                    <label>菜单类型</label>
                    <select name="type" class="easyui-combobox"
                            data-options="panelHeight:'auto',editable:false">
                        <option value="1">json</option>
                        <option value="2">url</option>
                        <option value="3">script</option>
                    </select>
                    <!--菜单类型1.json|2.url|3.script-->
                </li>
                <li>
                    <label>显示名称</label>
                    <input name="text" class="easyui-textbox">
                </li>
                <li>
                    <label>角色</label>
                    <input name="group_id" class="easyui-textbox" data-options="">
                </li>
                <li>
                    <label>所属模块</label>
                    <select name="tag" class="easyui-combobox"
                            data-options="panelHeight:'auto',editable:false">
                        <option value="CLENTS">客户系统</option>
                        <option value="SYS">系统设置</option>
                        <option value="TASK">任务系统</option>
                    </select>
                </li>
            </ul>
        </div>
        <div style="float: left">
            <ul class="my-ul">
                <li>
                    <label>上级菜单</label>
                    <input name="fid"  class="easyui-combobox"
                           data-options="valueField:'id',
                                textField:'text',
                                url:'combobox/menuFidlist',
                                panelHeight:'auto'"/>
                </li>
                <li>
                    <label>排序</label>
                    <input name="sort" class="easyui-textbox">
                </li>
                <li>
                    <label>面板标题</label>
                    <input name="title" class="easyui-textbox">
                </li>
                <li>
                    <label>关联表格</label>
                    <input name="dgid" class="easyui-textbox">
                </li>
            </ul>
        </div>
        <div style="clear: left">
            <ul class="my-ul">
                <li>
                    <label>链接</label>
                    <input name="url" class="easyui-textbox" style="width: 288px">
                </li>
                <li>
                    <label>json = </label>
                    <input name="json" class="easyui-textbox" style="width: 288px;height: 100px;"
                           data-options="multiline:true">
                </li>
                <li>
                    <label>script = </label>
                    <input name="script" class="easyui-textbox" style="width: 288px;height: 100px;"
                           data-options="multiline:true">
                </li>
            </ul>
        </div>
    </form>




</div>


<script type="text/javascript">
    //编辑
    function edit_menu(id = null) {
        var menu_dg = $("#set-menu-treegrid")
        if (id == null) {
            var row = menu_dg.treegrid("getSelected");
            if (row == null) {
                return showMsg("错误", "请选择一个菜单来编辑", true, "error");
            } else {
                $("#set-menu-dialog-form").form('load', row);
            }
        }
        $("#set-menu-dialog").dialog({
            buttons: [{
                text: '保存',
                handler: function () {
                    dialogSubmit('set-menu-dialog', 'menu/edit/' + row.id);
                    $("#set-menu-treegrid").treegrid('reload');
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#set-menu-dialog").dialog("close");
                }
            }]
        }).dialog("open");
    }

    //创建
    function new_menu(fid = 0) {
        $("#set-menu-dialog-form").form('clear');
        if(fid != 0){
            var row={};
            row.fid = fid;
            $("#set-menu-dialog-form").form('load',row);
        }
        $("#set-menu-dialog").dialog({
            buttons: [{
                text: '保存',
                handler: function () {
                    dialogSubmit('set-menu-dialog', 'menu/create/' + fid);
                    $("#set-menu-treegrid").treegrid('reload');
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#set-menu-dialog").dialog("close");
                }
            }]
        }).dialog("open");
    }

    //删除
    function remove_menu(id = 0) {
        if (id == 0) {
            var row = $("#set-menu-treegrid").treegrid("getSelected");
            if (row == null) {
                showMsg("错误", "请选择一个菜单来编辑", true, "error");
                return;
            } else {
                id = row.id
            }
        }
        var url = "menu/delete/" + id;
        //console.log(url);
        showConfirm("您好", "是否确认 ? ", function () {
            jsonAjax('post', url, {remov: 1}, function (ret) {
                if (ret.code == Success) {
                    showMsg("完成", "删除成功!");
                    $("#set-menu-treegrid").treegrid('reload');
                } else {
                    showMsg("错误", ret.msg, true, "error");
                }
            })
        });
    }

    /* dim */
    $(function () {
        var lastIndex
        $('#set-menu-treegrid').treegrid({
            url: 'menu/GetAll',
            //method:'post',          //请求方式
            idField: 'id',           //定义标识树节点的键名字段
            treeField: 'text',       //定义树节点的字段
            fit: true,               //网格自动撑满
            fitColumns: true,        //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
            columns: [[
                {field: 'id', title: 'ID', width: '3%', align: 'right'},
                {field: 'text', title: '显示内容', width: '20%'},
                {field: 'fid', title: '父ID', width: '3%', align: 'right'},
                {field: 'group_id', title: '角色', width: '5%'},
                {field: 'status', title: '禁用', width: '3%', align: 'right'},
                {field: 'sort', title: '排序', width: '5%', align: 'right', editor: 'numberbox'},
                {field: 'type', title: '类型', width: '3%', align: 'right'},
                {field: 'tag', title: '所属', width: '5%'},
                {field: 'title', title: 'tabs标题', width: '10%'},
                {field: 'state', title: '展开', width: '5%'},
                {field: 'checked', title: '选择', width: '5%'},
                //{field:'attributes',title:'',width:'3%'},
                // {field:'iconCls',title:'编码',width:'3%'},
                {field: 'dgid', title: '数据表关联', width: '5%'},
                //{field: 'json', title: 'JSON', width: '7%'},
                {field: 'url', title: 'URL', width: '10%'},
                //{field: 'script', title: 'JS', width: '7%'},
                {
                    field: 'action', title: '操作', formatter: function (value, row, index) {
                    return  '<a href="javasrcipt:void(0)" onclick="new_menu('+row.id+')">添加</a> ' +
                            '<a href="javasrcipt:void(0)" onclick="">编辑</a>';
                }
                }
            ]],
            onBeforeEdit: function (index, row) {

            },
            onAfterEdit: function (row, changes) {
                console.log(changes);
            },
            onCancelEdit: function (index, row) {

            },
            /**
             *  用户双击单元格
             * @param index
             * @param field
             * @param value
             */
            onDblClickCell: function (field, row, value) {

            },
            /**
             *  在用户点击单元格的时候触发
             * @param field
             * @param row
             */
            onClickCell: function (field, row) {
                $('#set-menu-treegrid').treegrid('endEdit', lastIndex);
                if (field == 'sort') {
                    $('#set-menu-treegrid').treegrid('beginEdit', row.id);
                    lastIndex = row.id;
                }
            },
            toolbar: [{
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    new_menu();
                }
            }, {
                iconCls: 'icon-edit',
                text: '编辑',
                handler: function () {
                    edit_menu();
                }
            }, {
                text: '删除',
                handler: function () {
                    remove_menu();
                }
            }, {
                text: '刷新',
                handler: function () {
                    $("#set-menu-treegrid").treegrid('reload');
                }
            }]
        });
    });
</script>