<!-- SELECT -->
<style>
    .filter div {
        clear: both;
        margin-top: 5px;
    }

    .filter div label {
        float: left;
        width: 60px;
        line-height: 35px;
    }

    .filterinput {
        float: left;
        margin-right: 20px;
        width: 80px;
    }
</style>

<div class="easyui-panel" style="width:100%;height:auto;padding:2px;" data-options="iconCls:'icon-save',closable:true,
                collapsible:true,minimizable:true,maximizable:true">
    <div style="display:inline;">
        <input id="ss"></input>
        <div id="smm">
            <div data-options="name:'name'">姓名</div>
            <div data-options="name:'Tag'">标签</div>
            <div data-options="name:'card'">身份证</div>
            <div data-options="name:'tel'">电话</div>
            <div data-options="name:'wangwang'">旺旺号</div>
            <div data-options="name:'rcdate'">约号日期</div>
        </div>
    </div>
    <!--按钮-->
    <a id="but_zk" class="easyui-linkbutton"  data-options="iconCls:'icon-more'" onclick="genduo();">更多</a>
    <a id="dow" class="easyui-linkbutton" data-options="iconCls:'icon-save'">下载</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-recover-deleted-items'" onclick="$('#form_search').form('clear')">清空</a>
    <!--表单条件-->
    <form class="souWhere" id="form_search" method="post"
          action="/ui/home/xls">
        <div class="filter">
            <div>
                <label>审核方式</label>
                <select name="mode" class="easyui-combobox"
                        data-options="panelHeight:'auto',value:'',multiple:true,multivalue:false,cls:'filterinput'">
                    <option value='12'>核准制</option>
                    <option value='05'>留学生</option>
                    <option value='03'>应届生</option>
                    <option value='13'>积分制</option>
                </select>

                <label>进度</label>
                <select name="speed" class="easyui-combobox"
                        data-options="panelHeight:'auto',value:'',multiple:true,multivalue:false,cls:'filterinput'">
                    <option value="-1">未办</option>
                    <option value="1">一审</option>
                    <option value="2">二审</option>
                    <option value="3">完结</option>
                </select>

                <label>业务员</label>
                <select name="user_id" class="easyui-combobox"
                        data-options="cls:'filterinput',
                              multiple:true,
                              multivalue:false,
                              url:'combobox/Userlist',
                              valueField:'value',
                              textField:'text',
                              editable:true
                        ">

                </select>

                <label>日期条件</label>
                <select class="easyui-combobox"
                        data-options="cls:'filterinput',panelHeight:'auto',editable:false,value:''"
                        id='date_type' name="date_type">
                    <option value="1">一审日期</option>
                    <option value="2">二审日期</option>
                    <option value="0">添加日期</option>
                    <option value="3">进度日期</option>
                </select>

                <div id='date_input' style="display:inline">
                    <input id='start_date' name="date[]" style="width:120px" type="text" class="easyui-datebox"
                           data-options="formatter:myformatter,parser:myparser">
                    TO
                    <input id='end_date' name="date[]" style="width:120px" type="text"
                           class="easyui-datebox "
                           data-options="formatter:myformatter,parser:myparser">
                </div>
            </div>
            <!--在这里换行了-->
            <div>
                <label>申报方式</label>
                <select name="sbtype" class="easyui-combobox"
                        data-options="panelHeight:'auto',editable:false,value:'',multiple:true,multivalue:false,cls:'filterinput'">
                    <option value="1">个人申报</option>
                    <option value="2">单位申报</option>
                </select>
                <label>窗口</label>
                <select name="service" class="easyui-combobox"
                        data-options="cls:'filterinput',
                          multiple:true,
                          multivalue:false,
                          url:'combobox/Get/SERVICE',
                          valueField:'value',
                          textField:'text',
                          editable:true">

                </select>

                <label>工作流</label>
                <select name="status" class="easyui-combobox"
                        data-options="cls:'filterinput',
                         editable:false,
                         value:'',
                         url:'combobox/Get/STATUS',
                         valueField:'value',
                         textField:'text',
                         multiple:true,
                         multivalue:false">
                </select>
            </div>
        </div>
    </form>
</div>

<div class="easyui-panel"
     style="width:100%;height:92%;background:#fafafa;" data-options="closable:true,
                collapsible:true,minimizable:true,maximizable:true">
    <table id="dg"></table>
</div>
<!-- TABLE -->
<div id="Dg-toobar" style="padding:5px;height:auto; clear:both">
    <!-- DATA表  按钮组 -->
    <div id="dg-buttions-Group" dg="dg" style="margin-bottom:5px">
        <a onclick="ButtonRunDialog(this);" dialog="add" url="data/Create" class="easyui-linkbutton"
           plain="true">添加</a>
        <a onclick="ButtonRunDialog(this);" dialog="add" url="data/Edit" load="true" class="easyui-linkbutton"
           plain="true">修改</a>
        <!--<a onclick="run(this)" action="del" class="easyui-linkbutton"  plain="true">删除</a>-->
        <a onclick="ButtonRunDialog(this);" dialog="comment" url="data/refund" load="true" class="easyui-linkbutton"
           plain="true">退款</a>
        <a onclick="run(this)" action="back" class="easyui-linkbutton" plain="true">退回</a>
        <a onclick="run(this)" url="data/shebao" class="easyui-linkbutton" plain="true">无社保</a>
        <a onclick="ButtonRunDialog(this);" dialog="error" url="data/refurn" load="true" class="easyui-linkbutton"
           plain="true">问题</a>
        <a onclick="run(this)" url="data/etcinput" class="easyui-linkbutton" plain="true">待录</a>
        <a onclick="ButtonRunDialog(this);" dialog="commit" url="data/commit" load="true" class="easyui-linkbutton"
           plain="true">提交</a>
        <a onclick="run(this)" url="data/setAppointment" class="easyui-linkbutton" plain="true">约号</a>
        <a onclick="run(this)" url="data/sign" class="easyui-linkbutton" plain="true">一审</a>
        <!-- a onclick="run(this)" url="data/fileCheck" class="easyui-linkbutton"  plain="true">审核</a>-->
        <a onclick="run(this)" url="data/prepareSubmit" class="easyui-linkbutton" plain="true">预备二审</a>
        <a onclick="run(this)" url="data/submit" class="easyui-linkbutton" plain="true">二审</a>
        <a onclick="run(this)" url="data/takeDiaol" class="easyui-linkbutton" plain="true">拿调令</a>
        <a onclick="run(this)" url="data/finish" class="easyui-linkbutton" plain="true">完结</a>
        <a onclick="run(this)" action="miss" class="easyui-linkbutton" plain="true">爽约</a>
        <a onclick="run(this)" url="data/NuserCallin" class="easyui-linkbutton" plain="true">调入</a>
        <a onclick="ButtonRunDialog(this);" dialog="task" url="task/create" load="true" class="easyui-linkbutton"
           plain="true">任务</a>
        <a id="comm-but" onclick="ButtonRunDialog(this);" dialog="comment" url="data/comment" load="true"
           class="easyui-linkbutton" plain="true">备注</a>
        <a id="tag-but" onclick="ButtonRunDialog(this);" dialog="tag" url="data/tag" load="true"
           class="easyui-linkbutton" plain="true">标记</a>
    </div>

</div>

<script type="text/javascript">
    /**
     * 对话框提交
     * @param options html DOW action = url
     */
    function run(options) {
        var dg = $(options).parent().attr("dg");
        if (dg == undefined || dg == null || dg == "") {
            return alert("未设置butSdg属性");
        }
        var row = getSingleSelectRow(dg);
        var url = $(options).attr("url");
        var text = $(options).context.innerText;
        if (row != null) {
            var url = url + "/" + row.id;
            console.info("URL:" + url);
            showConfirm("您好", "执行命令为: [" + text + "] 是否确认 ? ", function () {
                jsonAjax('post', url, {a: 1}, function (ret) {
                    if (ret.code == Success) {
                        showMsg("完成", "提交成功", false);
                        $('#' + dg).datagrid('reload');
                    } else {
                        showMsg("错误", ret.msg, true, "error");
                    }
                })
            });
        }
    }
    /**
     * 搜索条件的显示与隐藏
     */
    function genduo() {
        if($(".souWhere").is(":hidden")){
            $(".souWhere").show();    //如果元素为隐藏,则将它显现
            $('#but_zk').linkbutton({
                text:'收起'
            });
        }else{
            $(".souWhere").hide();     //如果元素为显现,则将其隐藏
            $('#but_zk').linkbutton({
                text:'展开'
            });
        }
    }
</script>
<script type="text/javascript">
    //一些初始化
    $(function () {
        $('.souWhere').hide();
        $("#date_input").hide()
        $('#date_type').combobox({
            onSelect: function (param) {
                //console.log(param);
                if (param.text != '') {
                    $("#date_input").show();
                } else {
                    $("#date_input").hide();
                    $("#start_date").datebox('setValue', '');
                    $("#end_date").datebox('setValue', '');
                }
            }
        });
    });
    //搜索组件
    $('#ss').searchbox({
        searcher: function (value, name) {
            var text = "&" + name + "=" + encodeURIComponent($.trim(value));
            var val = $("#form_search").serializeObject();
            if (value != '') {
                val[name] = value;
            }
            val['type'] = 'sousou';
            $('#dg').datagrid({
                queryParams: val
            });
        },
        width: 206,
        menu: '#smm',
        prompt: '请输入值'
    });

</script>