<table id="task-dg" class="easyui-datagrid" style="width:100%;height:82%"
       data-options="url:'task/List',
                    fitColumns:false,
                    singleSelect:true,
                    striped:true,
                    fit:false,
                    pagination:true,
                    rownumbers:true,
                    sortName: 'task_time',
                    sortOrder: 'asc',
                    remoteSort: true,
          	 	    pageSize:10,
		            pageList:[10,20,30,40,50],
                    toolbar:'#task-dg-buttions'">
    <thead>
    <tr>
        <th data-options="field:'task_time',sortable:true" style="width: 9%">计划时间</th>
        <th data-options="field:'clents_name',formatter:formatter_name" style="width: 10%">客户</th>
        <th data-options="field:'title'" style="width: 10%">标题</th>
        <th data-options="field:'se_name'" style="width: 8%">任务发布者</th>
        <th data-options="field:'re_name'" style="width: 8%">任务接收者</th>
        <th data-options="field:'finish_type'" style="width: 10%">完成状态</th>
        <th data-options="field:'create_time',sortable:true" style="width: 10%">创建时间</th>
        <th data-options="field:'finish_time',sortable:true" style="width: 10%">处理时间</th>
        <th data-options="field:'action',formatter:task_action" style="width: 10%">操作</th>
    </tr>
    </thead>
</table>
<div id="task-dg-buttions" style="padding:5px;height:auto">
    <div style="margin-bottom:5px" dg="task-dg">
        <!--<a onclick="ButtonRunDialog(this);" dialog="task" url="task/create" iconCls="icon-add" class="easyui-linkbutton"
           plain="true">添加任务</a>-->
        <a onclick="ButtonRunDialog(this);" dialog="task" url="task" load="true" iconCls="icon-edit"
           class="easyui-linkbutton" plain="true">编辑任务</a>
        <a onclick="task.success('success','/task/finish');" class="easyui-linkbutton" iconCls="icon-ok"
           plain="true">处理</a>
        <a onclick="ButtonRunDialog(this);" dialog="failed" url="/task/failed" load="true"
           class="easyui-linkbutton" iconCls="icon-no" plain="true">失败</a>
    </div>
    <hr style="margin-bottom: 5px">
    <div>
        <form id="task-search">
            发布者:
            <select name="se_by_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            接收者:
            <select name="re_by_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            执行日:
            <input id='start_date' name="date[]" style="width:120px" type="text" class="easyui-datebox"
                   data-options="formatter:myformatter,parser:myparser">
            TO
            <input id='end_date' name="date[]" style="width:120px" type="text"
                   class="easyui-datebox "
                   data-options="formatter:myformatter,parser:myparser">
            <a href="javascript:task.search();" class="easyui-linkbutton" iconCls="icon-search">Search</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-recover-deleted-items'"
               onclick="$('#form_search').form('clear')">清空</a>
        </form>

    </div>

</div>
<div class="easyui-panel"
     style="width:100%;height:17%;padding:10px;margin-top:2px;">
    <p id="p-comments">panel content.</p>
    <p id="p-error">panel content.</p>
</div>

<script type="text/javascript">
    $(function ($) {
        $('#task-dg').datagrid({
            //用户单击
            onClickRow: function (index, row) {
                $('#p-comments').html(row.comments);
                $('#p-error').html(row.error);
            }
        })
    })
</script>

<script type="text/javascript">
    var task = function () {
    };
    //**************************************************
    task.success = function (id, url) {
        var row = $('#task-dg').datagrid('getSelected');
        if (row == null)return showMsg("错误", '未选取数据!', true, 'error');
        url = url + '/' + row.id;
        //隐藏
        $('.hidden').hide();
        $("#" + id + "-form").form('clear');            //表单清除
        $("#" + id).dialog({
            buttons: [{
                text: '提交',
                handler: function () {
                    //做了提交处理
                    dialogSubmit(id, url);
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#" + id).dialog('close');
                }
            }]
        });
        //打开窗口
        $("#" + id).dialog('open');

        if (row.type == 11) {                           //11是提交材料
            $('#SUBMIT_DATA').show();
            document.getElementById('js').checked = row.Tag.js;
            document.getElementById('tj').checked = row.Tag.tj;
            document.getElementById('gz').checked = row.Tag.gz;
        }
        if (row.type == 5) {                           //一审回访
            $('#upload').show();
        }
        if (row.type == 12) {                           //一审回访
            $('#APPOINTMENT_CLIENT').show();
        }
    }
    //*********************************************
    task.search = function () {
        var val = $("#task-search").serializeObject();
        val['type'] = 'sousou';
        $('#task-dg').datagrid({
            queryParams: val
        });
    }
    //*************************************************
    function task_action() {
        return '<a href="#" >成功</a>' +
                '<a href="#" >失败</a>';
    }
    //*************************************************
    function formatter_name(value, row, index) {
        if (value != null) {
            return '<div dg="task-dg">' +
                    '<a class="button-default" href="javascript:showtable(' + row.clents_id + ')">详情</a> ' +
                    '<a class="button-danger" onclick="loadRcdate(' + row.clents_id + ');ButtonRunDialog(this);"  dialog="task"  url="task/taskForward' + '/' + row.id + '/' + row.clents_id + '">转发</a>' +
                    '<span>【' + value + '】</span>' +
                    '</div>';
        }
    }
    //*************************************************
    function loadRcdate(id) {
        jsonAjax('get', 'data/getRcDate/' + id, null, function (res) {
            $('#rcdate').datetimebox('setValue', res);	// 设置日期输入框的值
        })
    }
    //**************************************************
    function showtable(id) {
        jsonAjax('get', 'data/getOneData/' + id, null, function (res) {
            loadtable(res);
        })
    }
</script>