<table id="task-dg" class="easyui-datagrid" style="width:100%;height:82%"
       data-options="url:'task/List',
                    fitColumns:false,
                    singleSelect:true,
                    striped:true,
                    fit:false,
                    pagination:true,
                    rownumbers:true,
                    sortName: 'task_time',
                    sortOrder: 'asc',
                    remoteSort: true,
          	 	    pageSize:10,
		            pageList:[10,20,30,40,50],
                    toolbar:'#task-dg-buttions'">
    <thead>
    <tr>
        <th data-options="field:'task_time',sortable:true" style="width: 9%">计划时间</th>
        <th data-options="field:'clents_name',formatter:formatterTaskName" style="width: 10%">客户</th>
        <th data-options="field:'title'" style="width: 10%">标题</th>
        <th data-options="field:'se_name'" style="width: 8%">任务发布者</th>
        <th data-options="field:'re_name'" style="width: 8%">任务接收者</th>
        <th data-options="field:'status'" style="width: 10%">任务状态</th>
        <th data-options="field:'create_time',sortable:true" style="width: 10%">创建时间</th>
        <th data-options="field:'finish_time',sortable:true" style="width: 10%">处理时间</th>
        <th data-options="field:'action',formatter:formatterTaskAction" style="width: 10%">操作</th>
    </tr>
    </thead>
</table>
<div id="task-dg-buttions" style="padding:5px;height:auto">
    <div style="margin-bottom:5px" dg="task-dg">
        <a onclick="ButtonRunDialog(this);" dialog="task" url="task" load="true" iconCls="icon-edit"
           class="easyui-linkbutton" plain="true">编辑任务</a>
        <a onclick="Task.onDispose();" class="easyui-linkbutton" iconCls="icon-ok"
           plain="true">处理</a>
        <a onclick="run(this)" url="/task/revocation" class="easyui-linkbutton" plain="true">撤回</a>
    </div>
    <hr style="margin-bottom: 5px">
    <div>
        <form id="task-search">
            发布者:
            <select name="se_by_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            接收者:
            <select name="re_by_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            执行日:
            <input id='start_date' name="date[]" style="width:120px" type="text" class="easyui-datebox"
                   data-options="formatter:myformatter,parser:myparser">
            TO
            <input id='end_date' name="date[]" style="width:120px" type="text"
                   class="easyui-datebox "
                   data-options="formatter:myformatter,parser:myparser">
            <a href="javascript:Task.search();" class="easyui-linkbutton" iconCls="icon-search">Search</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-recover-deleted-items'"
               onclick="$('#form_search').form('clear')">清空</a>
        </form>

    </div>

</div>
<div class="easyui-panel"
     style="width:100%;height:17%;padding:10px;margin-top:2px;">
    <p id="p-comments">panel content.</p>
    <p id="p-error">panel content.</p>
</div>

<script type="text/javascript">
    $(function ($) {
        $('#task-dg').datagrid({
            //用户单击
            onClickRow: function (index, row) {
                $('#p-comments').html(row.comments);
                $('#p-error').html(row.error);
            }
        })
    })
</script>

<script type="text/javascript">
    //**************************************************
    Task.onDispose = function () {
        var row = $('#task-dg').datagrid('getSelected');
        Task.dispose(row);
    }
    /** 撤回 */
    Task.revocation = function (id) {
        showConfirm("您好", "执行命令为: [ 撤回当前任务 ] 是否确认 ? ", function () {
            $.getJSON('/task/revocation/' + id, function (res) {
                if (res.code == Success) {
                    showMsg("完成", "撤回成功", false);
                    $('#task-dg').datagrid('reload');
                    $('#TaskList-dg').datagrid('reload');
                } else {
                    showMsg("撤回失败", res.msg, true, "error");
                }
            })
        });
    }
    /**处理**/
    Task.dispose = function (row) {
        var dialog_id = 'dispose';
        var formid = 'dispose-form';
        if (row == null)return showMsg("错误", '未选取数据!', true, 'error');
        url = '/task/dispose/' + row.id;
        //$("#" + id + "-form").form('clear');
        $("#" + dialog_id).dialog({
            buttons: [{
                text: '提交',
                handler: function () {
                    // 序列化表单数据
                    var formParam = $('#' + formid).serialize();
                    //开始提交任务 带验证表单
                    if ($('#' + formid).form('validate')) {
                        showConfirm("系统", "执行命令是否确认 ? ", function () {
                            jsonAjax('post', url, formParam, function (ret) {
                                if (ret.code == Success) {
                                    showMsg("完成", "成功", false);
                                    closeDialog(dialog_id);
                                    $('#task-dg').datagrid('reload');
                                    $('#TaskList-dg').datagrid('reload');
                                } else {
                                    showMsg("错误", ret.msg, true, 'error');
                                }
                            })
                        });
                    } else {
                        showMsg("错误", '数据验证失败! 请检查数据规则.,', true, 'error');
                    }
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#" + dialog_id).dialog('close');
                }
            }]
        });
        //打开窗口
        $("#" + dialog_id).dialog('open');
        $("#" + formid).form('load', row);
        document.getElementById('r-success').checked = true;
    }

    //*********************************************
    Task.search = function () {
        var val = $("#task-search").serializeObject();
        val['type'] = 'sousou';
        $('#task-dg').datagrid({
            queryParams: val
        });
    }

    //*************************************************

    function formatterTaskAction(value, row, inde) {
        return '<a class="button-default" href="javascript:Task.onDispose()" >处理</a> ' +
                '<a class="button-danger" href="javascript:Task.revocation(' + row.id + ')" >撤回</a>'
    }

    function formatterTaskName(value, row, index) {
        if (value != null) {
            return '<div dg="task-dg">' +
                    '<a class="button-default" href="javascript:showtable(' + row.data_id + ')">详情</a> ' +
                    '<a class="button-danger" onclick="loadRcdate(' + row.data_id + ');ButtonRunDialog(this);"  dialog="task"  url="task/Forward' + '/' + row.id + '/' + row.data_id + '">转发</a>' +
                    '<span>【' + value + '】</span>' +
                    '</div>';
        }
    }

    //*************************************************
    function loadRcdate(id) {
        $.getJSON('/data/getRcDate/' + id, function (res) {
            $('#rcdate').datetimebox('setValue', res);
        })
    }
    //**************************************************
    function showtable(id) {
        $.getJSON('/data/getOneData/' + id, function (res) {
            Data.loadtable(res);
            images(res.card);
        })
    }
</script>