<table id="task-dg" class="easyui-datagrid" style="width:100%;height:82%"
       data-options="url:'task/List',
                    fitColumns:false,
                    singleSelect:true,
                    striped:true,
                    fit:false,
                    pagination:true,
                    rownumbers:true,
                    sortName: 'task_time',
                    sortOrder: 'asc',
                    remoteSort: true,
          	 	    pageSize:10,
		            pageList:[10,20,30,40,50],
                    toolbar:'#task-dg-buttions'">
    <thead>
    <tr>
        <th data-options="field:'action',formatter:formatterTaskAction" style="width: 90px">操作</th>
        <th data-options="field:'task_time',sortable:true" style="width: 9%">计划时间</th>
        <th data-options="field:'clents_name',formatter:formatterTaskName" style="width: 5%">客户</th>
        <th data-options="field:'title',sortable:true" style="width: 10%">标题</th>
        <th data-options="field:'se_name',sortable:true" style="width: 5%">发布者</th>
        <th data-options="field:'re_name',sortable:true" style="width: 5%">接收者</th>
        <th data-options="field:'status',sortable:true" style="width: 4%">状态</th>
        <th data-options="field:'finish',sortable:true" style="width: 4%">结果</th>
        <th data-options="field:'create_time',sortable:true" style="width: 14%">创建时间</th>
        <th data-options="field:'finish_time',sortable:true" style="width: 14%">处理时间</th>
    </tr>
    </thead>
</table>
<div id="task-dg-buttions" style="padding:5px;height:auto">
    <div style="margin-bottom:5px" dg="task-dg">
        <a onclick="ButtonRunDialog(this);" dialog="task" url="task" load="true" iconCls="icon-edit"
           class="easyui-linkbutton" plain="true">编辑任务</a>
        <a onclick="Task.onDispose();" class="easyui-linkbutton" iconCls="icon-ok"
           plain="true">处理</a>
        <a onclick="run(this)" url="/task/revocation" class="easyui-linkbutton" plain="true">撤回</a>
    </div>
    <hr style="margin-bottom: 5px">
    <div>
        <form id="task-search">
            发布者:
            <select name="se_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            接收者:
            <select name="re_id" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist'">
            </select>
            执行日:
            <input id='start_date' name="task_time" style="width:120px" type="text" class="easyui-datebox"
                   data-options="formatter:myformatter,parser:myparser">
            状态:
            <select name="status" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="value:''">
                <option value="1">进行中</option>
                <option value="2">已处理</option>
                <option value="3">转发</option>
            </select>
            结果:
            <select name="finish" class="easyui-combobox" panelHeight="auto" style="width:100px"
                    data-options="value:''">
                <option value="1">成功</option>
                <option value="-1">失败</option>
            </select>
            <a href="javascript:Task.search();" class="easyui-linkbutton" iconCls="icon-search">查找</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-recover-deleted-items'"
               onclick="$('#task-search').form('clear')">清空</a>
        </form>

    </div>

</div>
<div class="easyui-panel"
     style="width:100%;height:17%;padding:10px;margin-top:2px;">
    <p id="p-comments">panel content.</p>
    <p id="p-error">panel content.</p>
</div>

<script type="text/javascript">
    $(function ($) {
        $('#task-dg').datagrid({
            //用户单击
            onClickRow: function (index, row) {
                $('#p-comments').html(row.se_name + ' 说 ： ' + row.contnet);
                $('#p-error').html(row.re_name + ' 回复 ： ' + row.reply_text);
            }
        })
    })
</script>

<script type="text/javascript">
    //**************************************************

    /** 处理按钮 */
    Task.onDispose = function () {
        var row = $('#task-dg').datagrid('getSelected');
        Task.dispose(row);
    }

    /** 撤回 */
    Task.revocation = function (id) {
        showConfirm("您好", "执行命令为: [ 撤回当前任务 ] 是否确认 ? ", function () {
            $.getJSON('/task/revocation/' + id, function (res) {
                if (res.code == Success) {
                    showMsg("完成", "撤回成功", false);
                    $('#task-dg').datagrid('reload');
                    $('#TaskList-dg').datagrid('reload');
                } else {
                    showMsg("撤回失败", res.msg, true, "error");
                }
            })
        });
    }

    /** 转发 */
    Task.forward = function (task_id, data_id) {
        var dialog_id = 'task';
        var formid = 'task-form';
        var url = '/task/Forward' + '/' + task_id + '/' + data_id
        $("#" + dialog_id).dialog({
            buttons: [{
                text: '提交',
                handler: function () {
                    // 序列化表单数据
                    var formParam = $('#' + formid).serialize();
                    //开始提交任务 带验证表单
                    if ($('#' + formid).form('validate')) {
                        showConfirm("系统", "执行命令是否确认 ? ", function () {
                            jsonAjax('post', url, formParam, function (ret) {
                                if (ret.code == Success) {
                                    showMsg("完成", "成功", false);
                                    closeDialog(dialog_id);
                                    $('#task-dg').datagrid('reload');
                                    $('#TaskList-dg').datagrid('reload');
                                    $('#dg').datagrid('reload');
                                } else {
                                    showMsg("错误", ret.msg, true, 'error');
                                }
                            })
                        });
                    } else {
                        showMsg("错误", '数据验证失败! 请检查数据规则.,', true, 'error');
                    }
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#" + dialog_id).dialog('close');
                }
            }]
        });
        //打开窗口
        $("#" + dialog_id).dialog('open');
        //获取人才网时间
        $.getJSON('/data/getRcDate/' + data_id, function (res) {
            $('#rcdate').datetimebox('setValue', res);
        })
    }


    /**处理**/
    Task.dispose = function (row) {
        var dialog_id = 'dispose';
        var formid = 'dispose-form';
        if (row == null)return showMsg("错误", '未选取数据!', true, 'error');
        url = '/task/dispose/' + row.id;
        //$("#" + id + "-form").form('clear');
        $("#" + dialog_id).dialog({
            buttons: [{
                text: '提交',
                handler: function () {
                    // 序列化表单数据
                    var formParam = $('#' + formid).serialize();
                    //开始提交任务 带验证表单
                    if ($('#' + formid).form('validate')) {
                        showConfirm("系统", "执行命令是否确认 ? ", function () {
                            jsonAjax('post', url, formParam, function (ret) {
                                if (ret.code == Success) {
                                    showMsg("完成", "成功", false);
                                    closeDialog(dialog_id);
                                    $('#task-dg').datagrid('reload');
                                    $('#TaskList-dg').datagrid('reload');
                                } else {
                                    showMsg("错误", ret.msg, true, 'error');
                                }
                            })
                        });
                    } else {
                        showMsg("错误", '数据验证失败! 请检查数据规则.,', true, 'error');
                    }
                }
            }, {
                text: '关闭',
                handler: function () {
                    $("#" + dialog_id).dialog('close');
                }
            }]
        });
        //打开窗口
        $("#" + dialog_id).dialog('open');
        $("#" + formid).form('load', row);
        document.getElementById('r-success').checked = true;
    }



    //*********************************************
    Task.search = function () {
        var val = $("#task-search").serializeObject();
        val['type'] = 'sousou';
        $('#task-dg').datagrid({
            queryParams: val
        });
    }

    //*************************************************

    function formatterTaskAction(value, row, inde) {
        return '<a class="button-default button-xs l-btn l-btn-small" href="javascript:Task.onDispose()" >处理</a> ' +
                '<a class="button-success button-xs l-btn l-btn-small" href="javascript:Task.forward(' + row.id + ','+row.data_id+')" >转发</a> ' +
                '<a class="button-danger button-xs l-btn l-btn-small" href="javascript:Task.revocation(' + row.id + ')" >撤回</a>'
    }

    function formatterTaskName(value, row, index) {
        if (value != null) {
            return '<a class="button-primary button-xs l-btn l-btn-small" href="javascript:showtable(' + row.data_id + ')">' + value + '</a>';
        }
    }

    //**************************************************
    function showtable(id) {
        $.getJSON('/data/getOneData/' + id, function (res) {
            Data.loadtable(res);
            Data.loadImages(res.card);
        })
    }

</script>