<!-- 查询页开始 -->
<div title="查询页" style="width:'100%';padding:5px;display:none;">
    <!-- SELECT -->
    <table id="dg" style="height:480px;"></table>
    <!-- TABLE -->
    <div id="Dg-toobar" style="padding:5px;height:auto">
        <div>
            <div style="display:inline">
                <input id="ss"></input>
                <div id="smm" style="width:120px">
                    <div data-options="name:'name'">姓名</div>
                    <div data-options="name:'Tag'">标签</div>
                    <div data-options="name:'card'">身份证</div>
                    <div data-options="name:'tel'">电话</div>
                    <div data-options="name:'wangwang'">旺旺号</div>
                    <div data-options="name:'rcdate'">约号日期</div>
                </div> 	<!-- /api/gdata/sousou -->
            </div>
            <script type="text/javascript">
                $('#ss').searchbox({
                    searcher:function(value,name){
                        var text= "&"+name+"="+encodeURIComponent(value);
                        var val =$("#form_search").serializeObject();
                        val[name]   = value;
                        val['type'] = 'sousou';
                        $('#dg').datagrid({
                            queryParams: val
                        });
                    },
                    width:200,
                    menu:'#smm',
                    prompt:'请输入值'
                });
            </script>
            <a  id="genduo"  href="javascript:"  onclick="genduo();">多条件</a>
            <script type="text/javascript">
                function genduo(){
                    if($('#genduo').html()=="多条件"){
                        $('.souWhere').show();
                        $('#genduo').html("收起");
                    }else{
                        $("#date_input").hide();
                        $('.souWhere').hide();
                        $('#genduo').html("多条件");
                    }
                }
            </script>
            <form class="souWhere" style="display:inline;display: none;" id="form_search" method="post" action="/ui/home/xls">
                <hr>
                审核方式：
                <select  name="mode" class="easyui-combobox"
                        data-options="panelHeight:'auto',value:'',multiple:true,multivalue:false" style="width:80px;">
                    <option value='12'>核准制</option>
                    <option value='05'>留学生</option>
                    <option value='03'>应届生</option>
                    <option value='13'>积分制</option>
                </select>
                进度：
                <select name="speed" class="easyui-combobox" style="width:82px;"
                        data-options="panelHeight:'auto',value:'',multiple:true,multivalue:false" >
                    <option>未办</option>
                    <option>一审</option>
                    <option>二审</option>
                    <option>完结</option>
                </select>

                业务员：<select name="user"  class="easyui-combobox"  style="width:80px;"></select>
                社保：
                <select name="shebao" class="easyui-combobox" style="width:90px;">
                    <option value="6+">6个月以上</option>
                    <option value="6-">6个月以下</option>
                    <option value="0">无</option>
                </select>
                日期条件：
                <select  class="easyui-combobox"
                         data-options="panelHeight:'auto',editable:false,value:''"
                         id='date_type' name="date_type" style="width:80px;">
                    <option value="1">一审日期</option>
                    <option value="2">二审日期</option>
                    <option value="0">添加日期</option>
                    <option value="3">进度日期</option>
                </select>
                <script type="text/javascript">
                    $(function(){
                        $("#date_input").hide()
                        $('#date_type').combobox({
                            onSelect: function(param){
                                //console.log(param);
                                if(param.text!=''){
                                    $("#date_input").show();
                                }else{
                                    $("#date_input").hide();
                                    $("#start_date").datebox('setValue', '');
                                    $("#end_date").datebox('setValue', '');
                                }
                            }
                        });
                    });
                </script>
                <!-- label: 'Email:'                labelPosition: 'top', -->
                <div id='date_input' style="display:inline" >
                    <input id='start_date' name="date[]" style="width:120px" type= "text"  class= "easyui-datebox"
                           data-options="formatter:myformatter,parser:myparser"
                    >
                    TO
                    <input id='end_date' name="date[]" style="width:120px" type= "text"
                           class= "easyui-datebox "
                           data-options="formatter:myformatter,parser:myparser"
                    >
                </div>
                <hr>
                申报方式：
                <select name="sbtype" class="easyui-combobox"  style="width:80px;"
                         data-options="panelHeight:'auto',editable:false,value:'',multiple:true,multivalue:false">
                    <option>个人申报</option>
                    <option>单位申报</option>
                </select>
                <!-- 服务窗口 -->
                窗口：
                <input name="service" class="easyui-combobox"  style="width:80px;"
                       data-options="panelHeight:'auto',
                                          multiple:true,
                                          multivalue:false,
                                          url:'getCombobox/SERVICE',
                                          valueField:'value',
                                          textField:'text',
                                          editable:true"/>

                工作流：
                <select name="status" class="easyui-combobox"  style="width:80px;"
                         data-options="panelHeight:'auto',editable:false,value:'',multiple:true,multivalue:false">
                    <option>新进客户</option>
                    <option>没有社保</option>
                    <option>问题打回</option>
                    <option>待录人保</option>
                    <option>已录人保</option>
                    <option>提交人保</option>
                    <option>已约号</option>
                    <option>预备二审</option>
                    <option>可以二审</option>
                    <option>已约号II</option>
                    <option>已出号</option>
                    <option>等待调令</option>
                    <option>审批中</option>
                    <option>已审批同意</option>
                    <option>出调令</option>
                    <option>已拿调令</option>
                    <option>完结</option>
                </select>
                <a id="search"  class="easyui-linkbutton" data-options="iconCls:'icon-search'">查 找</a>
                <a id="dow" class="easyui-linkbutton">下载</a>
                <a class="easyui-linkbutton" onclick="$('#form_search').form('clear')">清空</a>
            </form>
            <hr>
            <!-- DATA表  按钮组 -->
            <div id="dg-buttions-Group" dg="dg" style="margin-bottom:5px">
                <a onclick="ButtonRunDialog(this);"  dialog="add" url="dataCreate" class="easyui-linkbutton" plain="true">添加</a>
                <a onclick="ButtonRunDialog(this);"  dialog="add" url="dataEdit" load="true" class="easyui-linkbutton" plain="true">修改</a>
                <a onclick="run(this)" action="del" class="easyui-linkbutton"  plain="true">删除</a>
                <a onclick="ButtonRunDialog(this);" dialog="comment" url="refund" load="true" class="easyui-linkbutton"  plain="true">退款</a>
                <a onclick="run(this)" action="back" class="easyui-linkbutton"  plain="true">退回</a>
                <a onclick="run(this)" action="shebao" class="easyui-linkbutton"  plain="true">无社保</a>
                <a onclick="ButtonRunDialog(this);"  dialog="error" url="refurn" load="true" class="easyui-linkbutton" plain="true">问题</a>
                <a onclick="run(this)" action="etcinput" class="easyui-linkbutton"  plain="true">待录</a>
                <a onclick="ButtonRunDialog(this);" dialog="commit" url="data/commit" load="true" class="easyui-linkbutton" plain="true">提交</a>
                <a onclick="run(this)" action="rcyuehao" class="easyui-linkbutton"  plain="true">约号</a>
                <a onclick="run(this)" action="sign" class="easyui-linkbutton"  plain="true">一审</a>
                <a onclick="run(this)" action="fileCheck" class="easyui-linkbutton"  plain="true">审核</a>
                <a onclick="run(this)" action="soreSubmit" class="easyui-linkbutton"  plain="true">可以二审</a>
                <a onclick="run(this)" action="submit" class="easyui-linkbutton"  plain="true">二审</a>
                <a onclick="run(this)" action="takeDiaol" class="easyui-linkbutton"  plain="true">拿调令</a>
                <a onclick="run(this)" action="success" class="easyui-linkbutton"  plain="true">完结</a>
                <a onclick="run(this)" action="miss" class="easyui-linkbutton"  plain="true">爽约</a>
                <a onclick="ButtonRunDialog(this);"  dialog="task" url="task" load="true" class="easyui-linkbutton" plain="true">任务</a>
                <a id="comm-but" onclick="ButtonRunDialog(this);"  dialog="comment" url="comment" load="true" class="easyui-linkbutton" plain="true">备注</a>
                <a id="tag-but" onclick="ButtonRunDialog(this);"  dialog="tag" url="tag" load="true" class="easyui-linkbutton" plain="true">标记</a>

            </div>
        </div>
    </div>
</div>
<!-- 查询页结束 -->
<script type="text/javascript">
    /**
     * 对话框提交
     * @param options html DOW action = url
     */
    function run(options){
        var dg = $(options).parent().attr("dg");
        if(dg == undefined || dg == null || dg == ""){
           return alert("未设置butSdg属性");
        }
        var row = getSingleSelectRow(dg);
        var key =  $(options).attr("action");
        var text =  $(options).context.innerText;
        if (row != null ){
            var url = config[key] + row.Id;
            console.info("URL:"+url);
            showConfirm("您好","执行命令为: [" + text + "] 是否确认 ? ",function(){
                jsonAjax('post',url,{a:1},function(ret){
                    if (ret.code == Success){
                        showMsg("完成","提交成功",true);
                    }else{
                        showMsg("错误",ret.msg,true,"error");
                    }
                })
            });
        }
    }

</script>