<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>三人行</title>
    <link rel="stylesheet" type="text/css" href="/static/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/themes/mobile.css">
    <link rel="stylesheet" type="text/css" href="/static/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/static/themes/insdep/icon.css">
    <script type="text/javascript" src="/static/framework/jquery.min.js"></script>
    <script type="text/javascript" src="/static/framework/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/framework/jquery.easyui.mobile.js"></script>
    <script type="text/javascript" src="/static/js/function.js"></script>
</head>
<body>
    {__CONTENT__}
</body>
</html>
