{layout name="Mobile/layout" /}


<div id="page-main" class="easyui-navpanel">
    {include file="Mobile/pages/main" /}
</div>


<div id="page-p1" class="easyui-navpanel">
    {include file="Mobile/pages/p1" /}
</div>

<div id="page-client" class="easyui-navpanel">
    {include file="Mobile/pages/client" /}
</div>

<div id="page-p3" class="easyui-navpanel">
    {include file="Mobile/pages/p3" /}
</div>

<div id="page-datails" class="easyui-navpanel">
    {include file="Mobile/pages/datails" /}
</div>

<div id="page-dg" class="easyui-navpanel">
    {include file="Mobile/pages/dg" /}
</div>

<div id="page-table" class="easyui-navpanel">
    {include file="Mobile/pages/table" /}
</div>