<style>
    .col-text-1 {
        width: 138px;
    }

    .col-text-2 {
        width: 100px;
    }

    .col-text-3 {
        width: 130px;
    }

    .col-box-1 {
        width: 141px;
    }

    .col-box-2 {
        width: 103px;
    }

    .col-box-3 {
        width: 133px;
    }
</style>
<!-- 添加数据开始 -->
<div id="add" class="easyui-dialog" title="My Dialog" form="add-form" dg="dg"
     data-options="closed:true,
                    cache:false,
                    height:'auto',
                    width:670,
                    modal:false
                   ">
    <form id="add-form" action="add" method="post">
        <table width="625" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="5%">
                    <pre>姓名</pre>
                </td>
                <td width="10%"><input id='name' class="easyui-textbox col-text-1" name="name"/></td>
                <td width="7%">毕业日期</td>
                <td width="10%"><input id='graduateDate' class="easyui-textbox col-text-2" type="text"
                                       name="graduateDate"/></td>
                <td width="4%">招调</td>
                <td width="10%"><select class="easyui-combobox col-box-3"
                                        data-options="panelHeight:'auto',editable:false" name="zdtype">
                    <option value="01">招工</option>
                    <option value="02">调干</option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <pre>身份证</pre>
                </td>
                <td><input id='card' class="easyui-textbox col-text-1" name="card"
                           data-options="validType:'validcard',required:true,"/></td>
                <td>通讯地址</td>
                <td><input id='txadderss' class="easyui-textbox col-text-2" type="text" name="txadderss"/></td>
                <td>婚姻状态</td>
                <td>
                    <select id='marriage' class="easyui-combobox col-box-3"
                            data-options="panelHeight:'auto',editable:false,required:true" name="marriage">
                        <option value="01">未婚</option>
                        <option value="02">已婚</option>
                        <option value="02">复婚</option>
                        <option value="02">再婚</option>
                        <option value="03">离异</option>
                        <option value="04">丧偶</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>电话</pre>
                </td>
                <td><input id="tel" class="easyui-numberbox col-text-1" type="text" name="tel"/></td>
                <td>店铺</td>
                <td>
                    <input name="shop" class="easyui-combobox col-box-2"
                           data-options="panelHeight:'auto',
                                          url:'getCombobox/SHOP',
                                          valueField:'value',
                                          textField:'text',
                                          editable:true"/>

                </td>
                <td>结婚日期</td>
                <td><input id='txadderss2' class="easyui-textbox col-text-3" type="text" name="marrDate"/></td>
            </tr>
            <tr>
                <td>
                    <pre>旺旺号</pre>
                </td>
                <td><input class="easyui-textbox col-text-1" id="wangwang" type="text" name="wangwang"/></td>
                <td>服务窗口</td>
                <td>
                    <input name="service" class="easyui-combobox col-box-2"
                           data-options="panelHeight:'auto',
                                         url:'getCombobox/SERVICE',
                                         valueField:'value',
                                         textField:'text',
                                         editable:true"
                    />
                </td>
                <td>调档案</td>
                <td><select class="easyui-combobox col-box-3" data-options="panelHeight:'auto',editable:false"
                            name="dangan">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <pre>人保账号</pre>
                </td>
                <td><input class="easyui-textbox col-text-1" id="renbao_user" type="text" name="renbao_user"/></td>
                <td>学历</td>
                <td><select class="easyui-combobox col-box-2"
                            data-options="panelHeight:'auto',editable:false,required:true" name="education">
                    <option value="04">大专</option>
                    <option value="03">本科</option>
                    <option value="02">硕士</option>
                    <option value="01">博士</option>
                </select>
                </td>
                <td>保管地</td>
                <td><input id='txadderss3' class="easyui-textbox col-text-3" type="text" name="danan_ads"/></td>
            </tr>
            <tr>
                <td>
                    <pre>人保密码</pre>
                </td>
                <td><input class="easyui-textbox col-text-1" id="renbao_password" type="text" name="renbao_password"/>
                </td>
                <td>社保</td>
                <td><select class="easyui-combobox col-box-2" data-options="panelHeight:'auto',editable:false"
                            name="shebao">
                    <option value="6+">6个月及以上</option>
                    <option value="6-">6个月以下</option>
                    <option value="0">无</option>
                </select></td>
                <td>小孩信息</td>
                <td>
                    <select name="child" class="easyui-combobox col-box-3"
                            data-options="panelHeight:'auto',editable:false,multiple:true,multivalue:false">
                        <option value="0">无</option>
                        <option value="1">一孩</option>
                        <option value="2">二孩</option>
                        <option value="3">怀孕</option>
                        <option value="4">随迁</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <pre>价格</pre>
                </td>
                <td><input id="price" type="text" class="easyui-numberbox col-text-1"
                           data-options="min:0,precision:2,prefix:'$'" name="price"/></td>
                <td>社保公司</td>
                <td>
                    <select name="shebaoname" class="easyui-combobox col-box-2"
                            data-options="panelHeight:'auto',
                                          url:'getCombobox/SHEBAO_NAME',
                                          valueField:'value',
                                          textField:'text',
                                          editable:true">
                    </select>
                </td>
                <td>标签</td>
                <td><input id='Tag' class="easyui-textbox col-text-3" type="text" name="Tag"/></td>
            </tr>
            <tr>
                <td>
                    <pre>订金</pre>
                </td>
                <td><input id="deposit" class="easyui-numberbox col-text-1" data-options="min:0,precision:2,prefix:'$'"
                           type="text" name="deposit"/></td>
                <td>审核方式</td>
                <td><select class="easyui-combobox col-box-2"
                            data-options="panelHeight:'auto',editable:false,required:true" name="mode">
                    <option value="03">应届生</option>
                    <option value="05">留学生</option>
                    <option value="12">核准制</option>
                    <option value="12">积分制</option>
                </select></td>
                <td colspan="2" rowspan="3" valign="top">
                    <input id="t-comment" class="easyui-textbox" style="width:200px;height:115px;"
                           data-options="multiline:true">
                </td>
            </tr>
            <tr>
                <td>
                    <pre>毕业学校</pre>
                </td>
                <td><input id='schoolName' class="easyui-textbox col-text-1" type="text" name="schoolName"/></td>
                <td>迁入地</td>
                <td><select class="easyui-combobox col-box-2" name="adderss"
                            data-options="panelHeight:'auto',editable:false">
                    <option value="01">窗口集体户</option>
                    <option value="02">自己</option>
                    <option value="03">挂靠朋友</option>
                    <option value="04">单位集体</option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <pre>专业</pre>
                </td>
                <td><input id='major' class="easyui-textbox col-text-1" type="text" name="major"/></td>
                <td>申报方式</td>
                <td><select class="easyui-combobox col-box-2" name="sbtype"
                            data-options="panelHeight:'auto',editable:false,required:true">
                    <option value="1">个人申报</option>
                    <option value="2">单位申报</option>
                </select></td>
            </tr>
        </table>
    </form>
</div>

<div id="add-buttons">
    <a id="add-buttons-imageup" href="#">上传图片</a>
    <a id="add-buttons-imagedel" href="#">清空图片</a>
    <a class="easyui-linkbutton" href="javascript:saveData()" data-options="iconCls:'icon-save'">保 存</a>
    <a id="add-buttons-close" data-options="iconCls:'icon-clear'">关 闭</a>
</div>

<div id="dd_image" class="easyui-dialog" title="图片上传" style="width:695px;height:550px;"
     data-options="iconCls:'icon-save',
        			  resizable:true,
        			  modal:true,
        			  closed:true">
</div>
<!-- 添加数据结束 -->