
<div id="commit" form="commit-form" dg="dg" class="easyui-dialog dialog-form-style" title="选择代理机构" style="width:300px;height:'auto';text-align:center;padding:2px 2px 2px 2px"
     data-options="closed:true,modal:false,resizable:true">
    <form id="commit-form">
        <input name="service"  class="easyui-combobox"  style="width:100%;"
               data-options="valueField:'id',
                                value:'',
                                textField:'text',
                                url:'/static/js/combobox.json',
                                panelHeight:'auto'"/>
        <input name="" class="easyui-textbox"  style="width:100%;height:115px;" data-options="multiline:true">
    </form>
</div>
