<!-- 详情页开始 -->
<style>
    #datatable input,textarea{
        width: 98%;height:100%;border:0px;
    }
</style>
<div id="table" form="error-form" dg="dg" class="easyui-dialog dialog-form-style" title="客户详情"
     style="width:1024px;height:550px;text-align:center;padding:2px 2px 2px 2px"
     data-options="closed:true,modal:false,resizable:true,buttons:'#task-buttons'">

    <div class="easyui-layout"  data-options="fit:true">
        <div data-options="region:'east',title:'图片',collapsed:true" style="width:180px;height: 100%">
            <ul id="dowebok2" style="padding-left: 0px;"></ul>
        </div>
        <div data-options="region:'center'" style="padding:0px;height: 100%">
            <form id="datatable">
                <table style="border-bottom-width: 0px;" width="100%" border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <th height="40" colspan="2" align="center" scope="row">基本信息</th>
                        <th colspan="4" align="center">订单信息 [ <span id='t-user'></span> ]</th>
                    </tr>
                    <tr>
                        <th width="14%" align="left" scope="row">姓名</th>
                        <td width="23%" height="25" nowrap="nowrap">
                            <input name="name" type="text" readonly="readonly">
                        </td>
                        <th width="11%" align="left">签约价</th>
                        <td width="17%">
                            <input name="price" type="text" readonly="readonly">
                        </td>
                        <th width="12%">优先级</th>
                        <td width="23%">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">身份证</th>
                        <td height="25">
                            <input name="card" type="text" readonly="readonly">
                        </td>
                        <th align="left">定金</th>
                        <td>
                            <input name="deposit" type="text" readonly="readonly">
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">电话</th>
                        <td height="25">
                            <input name="tel" type="text" readonly="readonly">
                        </td>
                        <th align="left">尾款</th>
                        <td>
                            <input name="col" type="text" readonly="readonly">
                        </td>
                        <th>店铺</th>
                        <td>
                            <input name="shop" type="text" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">办理进度</th>
                        <td height="25">
                            <input name="speed" type="text" readonly="readonly">
                        </td>
                        <th align="left">旺旺号</th>
                        <td>
                            <input name="wangwang" type="text" readonly="readonly">
                        </td>
                        <th>添加时间</th>
                        <td>
                            <input name="add_time" type="text" readonly="readonly">
                        </td>
                    </tr>
                </table>
                <table style="border-top-width: 0px;border-bottom-width: 0px;" width="100%" border="1" align="left"
                       cellpadding="0" cellspacing="0">
                    <tr>
                        <th height="35" align="center" colspan="6" valign="middle" scope="row">其他信息</th>
                    </tr>
                    <tr>
                        <th height="26" align="left" scope="row">人保账户密码</th>
                        <td width="13%" align="left" scope="row">
                            <input name="renbao" type="text" readonly="readonly">
                        </td>
                        <td width="14%" align="left" scope="row"><!--密码-->
                            <input name="renbao_powwerd" type="text" readonly="readonly">
                        </td>
                        <th scope="row">申报类型</th>
                        <td height="26" align="left" scope="row">
                            <input name="sbtype" type="text" readonly="readonly">
                        </td>
                        <th height="26" align="center" scope="row">备注</th>
                    </tr>
                    <tr>
                        <th width="19%" align="left" scope="row">学历</th>
                        <td colspan="2">
                            <input name="education" type="text" readonly="readonly">
                        </td>
                        <th width="13%">招调类型</th>
                        <td width="17%" height="25">
                            <input name="zdtype" type="text" readonly="readonly">
                        </td>
                        <td width="24%" rowspan="7" align="left" valign="top">
                            <!--<input id="t-comment" class="easyui-textbox" style="width:100%;height:100%"
                                   data-options="multiline:true">-->
                            <textarea name="comment" type="text" readonly="readonly"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">社保</th>
                        <td colspan="2">
                            <input name="shebao" type="text" readonly="readonly">
                        </td>
                        <th>约号日期</th>
                        <td height="25">
                            <input name="rcdate" type="text" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">入户方式</th>
                        <td colspan="2">
                            <input name="mode" type="text" readonly="readonly">
                        </td>
                        <td>&nbsp;</td>
                        <td height="25">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">婚姻状态</th>
                        <td colspan="2">
                            <input name="marriage" type="text" readonly="readonly">
                        </td>
                        <td>&nbsp;</td>
                        <td height="25">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">小孩信息</th>
                        <td colspan="2">
                            <input name="child" type="text" readonly="readonly">
                        </td>
                        <td>&nbsp;</td>
                        <td height="25">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">是否随迁</th>
                        <td colspan="2">
                            <input name="childad" type="text" readonly="readonly">
                        </td>
                        <td>&nbsp;</td>
                        <td height="25">&nbsp;</td>
                    </tr>
                    <tr>
                        <th align="left" scope="row">迁入地</th>
                        <td colspan="2">
                            <input name="adderss" type="text" readonly="readonly">
                        </td>
                        <th>工作进度</th>
                        <td height="25">
                            <input name="status" type="text" readonly="readonly">
                        </td>
                    </tr>
                </table>
                <table style="border-top-width: 0px; float: left;" width="100%" border="1" align="left" cellpadding="0"
                       cellspacing="0">
                    <tr>
                        <th id="t-Tag" height="32" colspan="4" scope="col">工作经历</th>
                    </tr>
                    <tr>
                        <th width="13%" scope="col">夫/妻</th>
                        <th width="23%" scope="col">起始时间</th>
                        <th width="23%" scope="col">结束时间</th>
                        <th width="41%" scope="col">单位或学校名称</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!-- 详情页结束 -->
<script type="text/javascript">
    function loadtable(row) {
        $('#datatable').form('clear');
        $('#datatable').form('load',row);
        $('#table').dialog('open');
    }
</script>