<div id="tag" class="easyui-dialog dialog-form-style" title="标签" style="width:300px;height:'auto';text-align:center;padding:2px 2px 2px 2px"
     data-options="closed:true,modal:false,resizable:true,buttons:'#task-buttons'">
    <form id="tag-form" action="tag">
        <input name="task.tag[]"  class="easyui-combobox"  style="width:100%;"
               data-options="multiple:true,
                             panelHeight:'auto',
                             url:'getCombobox/TAG',
                             valueField:'value',
                             textField:'text',
                             editable:true"/>
       <input name="task.tag[]" class="easyui-textbox"  style="width:100%;height:115px;" data-options="multiline:true">
    </form>
</div>

<div id="task-buttons">
    <a  class="easyui-linkbutton" iconCls="icon-ok" onclick="formSubmit('tag','tag-form',true)">提交</a>
    <a  class="easyui-linkbutton" iconCls="icon-cancel" onclick="closeDialog('tag')">关闭</a>
</div>