<!-- 任务窗口开始 -->
<div id="task" form="task-form"  dg="task-dg" class="easyui-dialog dialog-form-style" title="任务系统" style="width:300px;height:'auto';text-align:center;padding:2px 2px 2px 2px"
          data-options="closed:true,modal:false,resizable:true">
   <form id="task-form">
       <label>标题:</label>
       <input name="title"  class="easyui-combobox"  style="width:35%;"
               data-options="valueField:'id',
                                textField:'text',
                                url:'/static/js/combobox.json',
                                panelHeight:'auto'"/>
       <label>用户:</label>
       <input name="re_by_id"  class="easyui-combobox"  style="width:35%;"
               data-options="valueField:'value',
                                textField:'text',
                                url:'combobox/Userlist',
                                panelHeight:'auto'"/>
       <input name="comments" class="easyui-textbox"  style="width:100%;height:115px;" data-options="multiline:true">
        <label>时间：</label>
        <input id="rcdate" name='task_time' class="easyui-datetimebox" style="width:80%" data-options="required:true,formatter:my2formatter,parser:my2parser">
   </form>

    <!--<div id="cc" class="easyui-layout" style="width:500px;height:300px;">
        <div data-options="region:'north'" style="height:60px;padding:18px 0px 0px 15px;">
            <label>标题:</label>
            <input name="task.type"  class="easyui-combobox"  style="width:35%;"
                   data-options="valueField:'id',
                                textField:'text',
                                url:'/static/js/combobox.json',
                                panelHeight:'auto'"/>
            <label>时间：</label>
            <input name='task.task_time' class="easyui-datetimebox" style="width:35%" data-options="required:true,formatter:my2formatter,parser:my2parser">
        </div>
&lt;!&ndash;        <div data-options="region:'west',title:'任务详情'" style="width:400px;">
            <input name="task.comment" class="easyui-textbox"  style="width:100%;height:95%;" data-options="multiline:true">
        </div>&ndash;&gt;
        <div data-options="region:'center'" style="padding:5px;">

        </div>
        <div data-options="region:'east',title:'任务详情'" style="width:200px;">
            <input name="task.comment" class="easyui-textbox"  style="width:100%;height:95%;" data-options="multiline:true">
        </div>
    </div>-->

</div>
<!-- 任务窗口结束 -->
